@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fuente-montserrat: "Montserrat Alternates", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

/* header styles */
.header {
  border-bottom: 2px solid #00000024;
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  padding: 0 20px;
}

.container__settings {
  svg {
    font-size: 28px;
    cursor: pointer;
    color: #000000a3;
  }
}

.container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  width: 2em;
  height: auto;
}
.logo__title {
  color: #ff4458;
  font-size: 1.75em;
  font-family: var(--fuente-montserrat);
}

.container__menu {
  svg {
    font-size: 28px;
    cursor: pointer;
    color: #000000a3;
  }
}

/* card */

.image__container {
  overflow: hidden;
  background: #90ee9066;
}
.card__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__footer {
  padding: 15px;
  text-align: center;
}

.card__footer-title {
  font-size: 1.5em;
}

.card__footer-description {
  padding: 10px;
}

/* rating */
.rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
  background: #90ee9066;
}
.rating__img {
  cursor: pointer;
}
.rating__title {
  font-size: 1.75em;
}

.rating__tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------- */

/* footer */
.footer {
  height: 8vh;
  padding-bottom: 10px;
}

.footer__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  svg {
    font-size: 20px;
  }
}

.footer__img-fire {
  width: 20px;
}

/* liked */
.liked {
  min-height: 83vh;
}

.liked__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 0 8px;
}

.liked__title {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
  font-weight: 500;
  font-size: 1.5em;
}

.liked__img {
  width: 300px;
}

/* menu */

.menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 31px 36px 22px 23px;
  display: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: aliceblue;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
a:first-child {
  padding-bottom: 20px;
}
.active {
  display: flex;
}

.loading {
  min-height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
